<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CITIES</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/blog.css">
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar navbar-transparent" style="background-color:rgb(255, 255, 255, 0.4); height: 50px;">    
        <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item-logo" href="/" > </a>
            
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end" style="margin-top: 7px; font-family:Quicksand">
    
                <a class="navbar-item-login" href="/help" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    HELP
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <a class="navbar-item-login" href="/profile/{{user.username}}" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    PROFILE
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <a class="navbar-item-login" href="/logout" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    LOGOUT
                </a>

            </div>
        </div>
    </div>
    </nav>
    
    <style>
    .navbar-item-logo{
    background: url({{ url_for('static', filename='img/logoto.png') }}) no-repeat center center;
    position: relative;
    width: 280px;
    left: 15px;
    background-size: contain;
    }
    
    </style>
    <!-- END NAV -->

    <section class="hero is-info is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">WILL BE BUILT</h1>
                <h1>xss{{userid}}</h1>
            </div>
        </div>
    </section>


    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title"></p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info"></span>
                                    <span class="tag is-rounded"></span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title"></p>
                                <p class="subtitle is-6 article-subtitle">
                                    </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                <!-- START PROMO BLOCK -->
                <section class="hero is-info is-bold is-small promo-block">
                    <div class="hero-body">
                        <div class="container">
                            
                        </div>
                    </div>
                </section>
                <!-- END PROMO BLOCK -->
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                            </div>
                            <div class="media-content has-text-centered">
                               
                            </div>
                        </div>
                        <div class="content article-body">
                           
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
              </div>
              <section id="footer" class="section has-green-bg">
                <div class="container has-text-centered">
                  
                </div>
            </section>

        </section>
        <!-- END ARTICLE FEED -->
        </div>
        <script async type="text/javascript" src="../js/bulma.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>
</body>

</html>