<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CITIES</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/blog.css">
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar navbar-transparent" style="background-color:rgb(255, 255, 255, 0.4); height: 50px;">    
        <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item-logo" href="/" > </a>
            
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end" style="margin-top: 7px; font-family:Quicksand">
                
                <a class="navbar-item-login" href="/help" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    HELP
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <a class="navbar-item-login" href="/profile/{{user.username}}" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    PROFILE
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="navbar-item-login" href="/logout" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    LOGOUT
                </a>&nbsp;&nbsp;&nbsp;
                <div class="divider-vertical"></div>
                &nbsp;&nbsp;&nbsp;
                <p style="color: rgb(0, 0, 0); font-size: 30px; font-weight: bold; margin-top: 2px;">
                    {{user.username}}
                </p>

            </div>
        </div>
    </div>
    </nav>
    
    <style>
    .navbar-item-logo{
    background: url({{ url_for('static', filename='img/logoto.png') }}) no-repeat center center;
    position: relative;
    width: 280px;
    left: 15px;
    background-size: contain;}

    .divider-vertical {
    height: 30px;
    margin: 0 9px;
    width: 5px;
    margin-top: 8px;
    border-right: 1px solid #0a0a0a;
    border-left: 1px solid #080808;
}
    
    
    </style>
    <!-- END NAV -->
    
    <style>
        .some-page-wrapper {
            margin: 15px;
        }

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        .column {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
            
        }
        .button {
            background-color: #fd0000;
            border: none;
            width: 400px;
            color: #ccc;
            height: 70px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 30px;
            margin-bottom: 5px;
            font-family: Quicksand;
        }

        button:hover {
            background-color: rgb(243, 203, 129);
        }

      
    </style>

    <section class="hero is-info is-medium is-bold" style="background-image:url({{ url_for('static', filename='img/w.jpg') }})">
        <div class="hero-body">
            <div class="container has-text-centered">
                       
                <div class='some-page-wrapper'>
                    <h1 id="but" style=" font-family: Quicksand;color: black;font-size: 40px;font-weight: bold;"></h1>
                    <div class='row'>
                        <div class='column'>
                            <div id="b1"></div>
                        </div>
                        <div class='column'>
                            <div id="b2"></div>
            
                        </div>
                    </div>
                </div>
                <script type = "text/javaScript"> 
                    var greeting;
                
                    if ('{{cont.username}}' == '{{user.username}}'){
                        greeting = "CONTADD";
                        document.getElementById("b1").innerHTML = "<center><button class=\"button\" onclick=\"location.href='/add_cities'\" >ADD AN ANCIENT CITY</button></center>"
                        document.getElementById("b2").innerHTML = "<center><button class=\"button\" onclick=\"location.href='/add_paths'\" >ADD A TRAVEL PATH</button></center>"

                    }
                    else{
                        document.getElementById('but').innerHTML = "WELCOME";
                    }
                    
                    
                </script>
            
            </div>
        </div>
    </section>

    {%for i in range(0, leng)%} 
    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                           
  
                        </div>
                        <div class="content article-body" style="font-family:Quicksand;">
                            <h1 class="has-text-centered " style="text-decoration: underline;">{{ls[i][0]}}</h1>

                            <h3 >
                                Civilizations: {{ls[i][1]}}                           
                            </h3>

                            <h3>
                                Era: {{ls[i][2]}}                           
                            </h3>
                            <h3>
                                Famous One: {{ls[i][3]}}                           
                            </h3>
                            <h3>
                                Ancient Region: {{ls[i][6]}}                           
                            </h3>
                            <h3>
                                Where: {{ls[i][5]}}                           
                            </h3>
                            
                            <p>
                                {{ls[i][7]}}
                            </p>
                            <p style="font-weight: bold;">Written by {{ls[i][4]}}</p>
                        </div>
                    </div>
                </div>
                <!-- START ARTICLE -->
               
        </section>
        {%endfor%} 

    {%for i in range(0, mlen)%} 
    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                           
  
                        </div>
                        <div class="content article-body" style="font-family:Quicksand;">
                            <center><h1 style="size: 80px; font-family:Quicksand;">PATHS</h1></center>

                            <h1 class="has-text-centered " style="text-decoration: underline;">{{ms[i][0]}}</h1>

                            <h3 >
                                Artifacts: {{ms[i][1]}}                           
                            </h3>

                            <h3>
                                Civilizations: {{ms[i][2]}}                           
                            </h3>
                            <h3>
                                Golden Age: {{ms[i][3]}}                           
                            </h3>
                            <h3>
                                A Well Known Man: {{ms[i][4]}}                           
                            </h3>
                            <h3>
                                Location: {{ms[i][5]}}                           
                            </h3>
                            
                            <h3>
                                Region: {{ms[i][6]}}                           
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- START ARTICLE -->
               
        </section>
        {%endfor%} 
        <!-- END ARTICLE FEED -->
        </div>
        <script async type="text/javascript" src="../js/bulma.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
        
</body>

</html>