<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Aldi Duzha" />
  <meta name="description" content="Free Bulma Login Template, part of Awesome Bulma Templates" />
  <meta name="keywords" content="bulma, login, page, website, template, free, awesome" />
  <link rel="canonical" href="https://aldi.github.io/bulma-login-template/" />
  <title>{% block title %}
    {% endblock %} </title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

</head>

{% block body %}

<body style="background-image: url({{ url_for('static', filename='img/ephesus.jpg') }}); background-size: 100% 100%;">
  {% endblock %}
{% block navbar %}
data
{% endblock %}
  <section class="hero is-fullheight">
    <div class="hero-body">

      {% block box %}

      {% endblock %}
      <center>
      <p class="subtitle is-4" style="color: black;font-size: 50px;font-family: Ubuntu;">{% block welcome %}

        {% endblock %} </p> </center>      

      <center> <img src="{{url_for('static', filename='img/pillar.png')}}" width="130">
      </center>
      <br /> 

      {% block form %}

      {% endblock %}
    </div>
    
    </div>
    </div>
    </div>

  </section>
</body>



</html>