{% from 'form_helper.html' import dField %}

{% extends "home.html" %}

{% block title %}
Historai-Registration
{% endblock %}


{% block body %}

<body style="background-image: url({{ url_for('static', filename='img/myra.jpg') }}); background-size: 100% 100%;">
    {% endblock %}

    {% block welcome %}
    USER REGISTER 
    <br style="line-height: 10px;"> 
    {% endblock %}

    {% block navbar %}
    <nav class="navbar navbar-transparent" style="background-color:rgb(255, 255, 255, 0.55); height: 50px;">    
        <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item-logo" href="/" > </a>
            
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end" style="font-family: Quicksand; font-weight: bold;">
    
                <a class="navbar-item-login" href="/help" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    HELP
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
               
               
                <a class="navbar-item-login" href="/" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    HOME
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
                <a class="navbar-item-login" href="/login" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    LOGIN
                </a>

                


            </div>
        </div>
    </div>
    </nav>
    
    <style>
    .navbar-item-logo{
    background: url({{ url_for('static', filename='img/logoto.png') }}) no-repeat center center;
    position: relative;
    width: 280px;
    left: 15px;
    background-size: contain;
    }
    
    </style>
    
    {% endblock %}


    {% block box %}
    <div>
        <div class="column is-4 is-offset-4">
            <div class="box" style="padding:10px;
                    position:fixed;
                    top:90px;
                    left: 20%;
                    text-align: center;
                    width: 800px;
                    background: rgb(204, 204, 204); 
                    background: rgba(204, 204, 204, 0.6) ">
    {% endblock %}

    {% block form %}
                <form action="{{ url_for('register')}}" , method='POST' novalidate>
                    <div>
                        <div style="width: 48%; float:left">
                            {{dField(form.username, 'Username', autocomplete=true, autofocus=true) }}
                            <div style="line-height:40%;">
                                <br>
                            </div>
                            {{dField(form.name, 'Name', autocomplete=true, autofocus=true) }}
                            <div style="line-height:40%;">
                                <br>
                            </div>
                            {{dField(form.surname, 'Surname', autocomplete=true, autofocus=true) }}
                        </div>

                        <div style="width: 48%; float:right">
                            {{dField(form.email, 'Email' )}}
                            <div style="line-height:40%;">
                                <br>
                            </div>
                            {{dField(form.password, 'Password' )}}
                            <div style="line-height:40%;">
                                <br>
                            </div>
                            {{dField(form.confirm_pwd, 'Confirm password' )}}
                            <br>
                        </div>



                        {{ form.submit_button}}
                        <center >
                            <a href="/login" style="font-family: Quicksand;">Have an Account? Sign In</a>

                        </center>

                    </div>
                    {{form.csrf_token}}

                </form>
    {% endblock %}