<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CITIES</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/blog.css">
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar navbar-transparent" style="background-color:rgb(255, 255, 255, 0.9); height: 50px;">    
        <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item-logo" href="/" > </a>
            
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end" style="margin-top: 7px; font-family:Quicksand">
    
                <a class="navbar-item-login" href="/help" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    HELP
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <a class="navbar-item-login" href="/logout" style="color: rgb(0, 0, 0); font-size: 30px; margin-top: 2px;">
                    LOGOUT
                </a>

            </div>
        </div>
    </div>
    </nav>
    
    <style>
    .navbar-item-logo{
    background: url({{ url_for('static', filename='img/logoto.png') }}) no-repeat center center;
    position: relative;
    width: 280px;
    left: 15px;
    background-size: contain;
    }
    
    </style>


    </body>

</html>